@page "/"
@using Microsoft.EntityFrameworkCore
@using PizzaStore.Components.Pizza
@using PizzaStore.Domain

@attribute [StreamRendering]

@inject PizzaStoreDbContext PizzaStoreDbContext

<div class="main">
    <ul class="pizza-cards">
        @if(specials == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var special in specials)
            {
                <li @onclick="@(() => ShowConfigurePizzaDialog(special))" style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@if (showingConfigureDialog)
{
    <ConfigurePizzaDialog Pizza="configuringPizza" />
}

@code {
    List<PizzaSpecial>? specials;
    Pizza? configuringPizza;
    bool showingConfigureDialog;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        specials = await PizzaStoreDbContext.Specials.ToListAsync();
    }

    void ShowConfigurePizzaDialog(PizzaSpecial special)
    {
        configuringPizza = new Pizza()
        {
            Special = special,
            SpecialId = special.Id,
            Size = Pizza.DefaultSize,
            Toppings = new List<PizzaTopping>(),
        };

        showingConfigureDialog = true;
    }
}